bully/go.mod
bully/go.sum

bully/bin/
bully/node/cmd/node
bully/serviceRegistry/cmd/serviceRegistry
bully/node/pb/*.go
bully/serviceRegistry/pb/*.go

fredricksonlynch/go.mod
fredricksonlynch/go.sum

fredricksonlynch/bin/
fredricksonlynch/cmd/serviceRegistry/serviceRegistry
fredricksonlynch/pb/node/*.go
fredricksonlynch/pb/serviceRegistry/*.go
