bully/go.mod
bully/go.sum

bully/bin/
bully/node/cmd/node
bully/serviceRegistry/cmd/serviceRegistry
bully/node/pb/*.go
bully/serviceRegistry/pb/*.go

fredricksonlynch/go.mod
fredricksonlynch/go.sum

fredricksonlynch/bin/
fredricksonlynch/node/cmd/node
fredricksonlynch/serviceRegistry/cmd/serviceRegistry
fredricksonlynch/node/pb/*.go
fredricksonlynch/serviceRegistry/pb/*.go
