[Unit]
Description=Simple systemd service for our web application.

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/distributed-election
ExecStart=cd distributed-election && /home/ec2-user/.docker/cli-plugins/docker-compose up --build
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
